@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --tam: 5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fonte-principal);
}

body {
    background-image: linear-gradient(45deg, #7756BF, #0C1266);
    height: 100vh;
    overflow: hidden;
}

html {
    position: relative;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: var(--tam);
    padding: 0 40px;
    z-index: 100;
}

.container {
    margin-top: 5rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: hidden;
}

h1 {
    color: white;
    font-size: 2.3rem;
}

main {
    width: 55rem;
    height: 30rem;
    border: 1px solid rgba(255, 255, 255, 0.425);
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    position: relative;
}

.box {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: -10rem;
}

.box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: animate 30s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    background-color: transparent;
    inset: 1px;
    filter: blur(30px);
}

main form {
    width: 50%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(45deg, #7756BF, #0C1266);
}

main form h1 {
    color: white;
    font-size: 2.3em;
    position: static;
}

main figure {
    background: white url(imagens/medium-shot-man-wearing-vr-glasses-scaled.jpg) 66% center no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}

@keyframes animate {
    100% {
        transform: rotate(360deg);
    }
}