@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --fonte-principal: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(45deg, #7756BF, #0C1266);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.container {
    max-width: 700px;
    background: white;
    padding: 25px 30px 20px 30px;
    border-radius: .5rem;
    overflow-x: hidden;
    max-height: 100%;
}

.slide-1 {
    transition: 5s;
}

.box-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-title p {
    font-size: 12px;
}

h1{
    font-size: 1.7rem;
    margin-bottom: .8rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}

.container form {
    display: flex;
    border-radius: .5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container form .input-box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.input-box input {
    height: 2.4rem;
    width: 100%;
    outline: none;
    border-radius: .3rem;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    font-size: .9rem;
}

.input-gender {
    width: 100%;
}

.box-radios {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem .4rem 1.5rem;
}

.box-radios p {
    font-size: .9rem;
    margin-left: .2rem;
    text-wrap: wrap;
    text-align: center;
}

.box-input-radios {
    display: flex;
    align-items: center;
}

.box-input-radios input {
    color: #7756BF;
}

form .input-box input:focus,
form .container .input-box input:valid{
    border-color: #7756BF;
}

.box-button {
    display: flex;
    justify-content:space-between;
    margin-top: 5px;
}

button {
    border-radius: 50%;
    padding: .5rem;
    color: white;
    border: none;
    background-color:#7756BF;
    display: flex;
    cursor: pointer;
}
button i, h2{
    font-size: 1.7rem;
}

.faça-login {
    font-size: .8rem;
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.432);
    margin-top: 1rem;
}

.faça-login a {
    color: #7756BF;
    font-weight: 500;
}
