@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --cor1: #0583F2;
    --cor2: #056CF2;
    --cor3: #023859;
    --cor4: #1F212D;
    --cor-de-fundo: #131418;
    --cor-do-texto: white;
    --fonte-principal: 'Poppins', sans-serif;
}

:root.tema-claro {
    --cor1: #0583F2;
    --cor2: #056CF2;
    --cor3: #023859;
    --cor4: #1F212D;
    --cor-de-fundo: #ffffff;
    --cor-do-texto: black;
    --fonte-principal: 'Poppins', sans-serif;
}

.sobre-container {
    background-image: linear-gradient(to top, black, var(--cor2));
    display: flex;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cor-de-fundo);
    padding-bottom: 6rem;
    border-radius: 30px;
}

.titulo {
    font-size: 5rem;
    text-align: center;
}

.img-sobre {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sobre img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--cor1);
}

span {
    color: var(--cor1);
}

.img-sobre>.circulo-animado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--cor-de-fundo);
    border-bottom: 0.2rem solid var(--cor-de-fundo);
    border-left: 0.2rem solid var(--cor1);
    border-right: 0.2rem solid var(--cor1);
}

.cont-sobre {
    text-align: center;
}

.cont-sobre>h3 {
    font-size: 1.9rem;
}

.cont-sobre>p {
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

btn-box.btns a::before {
    background: var(--cor2);
}

.skills-container {
    background-color: black;
}

.skills{
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
    min-height: auto;
    padding-bottom: 7rem;
}

.skills > .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row > .skills-column {
    flex: 1 1 40rem;
}

.skills-column > .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box > .skills-content {
    position: relative;
    border: 0.2rem solid var(--cor1);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem; 
    z-index: 1;
    overflow: hidden;
}

.skills-box>.skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: 0.5s;
}

.skills-box>.skills-content:hover::before {
    width: 100%;
}

.skills-content > .progress {
    padding: 0.5rem 0;
}

.skills-content> .progress > h3{
    display: flex;
    justify-content: space-between;
}

.skills-content > .progress > h3 > span {
    color: var(--cor-do-texto);
}

.skills-content > .progress > .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--cor1);
    padding: 0.5rem;
    margin: 1rem 0;
}

.skills-content > .progress > .bar > span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background-color: var(--cor1);
}

.skills-column:nth-child(1) .skills-content > .progress:nth-child(1) > .bar  span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content>.progress:nth-child(2)>.bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content>.progress:nth-child(3)>.bar span {
    width: 65%;
}

.skills-column:nth-child(1) .skills-content>.progress:nth-child(4)>.bar span {
    width: 10%;
}

.skills-column:nth-child(2) .skills-content>.progress:nth-child(1)>.bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content>.progress:nth-child(2)>.bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content>.progress:nth-child(3)>.bar span {
    width: 65%;
}

.skills-column:nth-child(2) .skills-content>.progress:nth-child(4)>.bar span {
    width: 10%;
}


.contato-container {
    background-color: black;
}

.contato {
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--cor-de-fundo);

}

.footer-text {
    font-size: 1.5rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color: var(--cor1);
    border: 0.2 rem solid var(--cor1);
    border-radius: 0.6rem;
}


.footer-iconTop a {
    font-size: 2.2rem;
    color: var(--cor-de-fundo);
}




