@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --cor1: #0583F2;
    --cor2: #056CF2;
    --cor3: #023859;
    --cor4: #1F212D;
    --cor-de-fundo: #131418;
    --cor-de-fundo-2: black;
    --cor-do-texto: white;
    --fonte-principal: 'Poppins', sans-serif;
}

:root.tema-claro {
    --cor1: #0583F2;
    --cor2: #056CF2;
    --cor3: #023859;
    --cor4: #1F212D;
    --cor-de-fundo: #ffffff;
    --cor-de-fundo-2: rgb(231, 231, 231);
    --cor-do-texto: black;
    --fonte-principal: 'Poppins', sans-serif;
}

.sobre-container {
    background-image: linear-gradient(to top, var(--cor-de-fundo-2), var(--cor2));
    display: flex;
    min-height: auto;
}

.sobre {
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cont-sobre {
    display: flex;
    align-items:center;
    flex-direction: column;
    gap: 3rem;
}

.titulo {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.animado.scroll {
    transition: 1s ease;
    transition-delay: calc(0.3s / var(--i));
    animation: none;
}

.sobre.mostrar-animação .animado.scroll {
    transition-delay: calc(0.3s * var(--i));
    width: 0;
}

.img-sobre {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.img-sobre img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--cor1);
}

span {
    color: var(--cor1);
}

.img-sobre > .circulo-animado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--cor-de-fundo);
    border-bottom: 0.2rem solid var(--cor-de-fundo);
    border-left: 0.2rem solid var(--cor1);
    border-right: 0.2rem solid var(--cor1);
    animation: aboutSpinner 30s linear infinite;
}    

.text-sobre {
    text-align: center;
}

.text-sobre > h3 {
    font-size: 2.5rem;
    display: inline-block;
}

.text-sobre > p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

btn-box.btns a::before {
    background: var(--cor2);
}

.habilidades-container {
    background-color: var(--cor-de-fundo-2);
}

.habilidades{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
    min-height: auto;
}

.habilidades > .habilidades-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.habilidades-row > .habilidades-column {
    flex: 1 1 40rem;
}

.habilidades-column > .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.habilidades-column .habilidades-box {
    position: relative;
}

.habilidades-box > .habilidades-content {
    position: relative;
    border: 0.2rem solid var(--cor1);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem; 
    z-index: 1;
    overflow: hidden;
}

.habilidades-box>.habilidades-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--cor-de-fundo-2);
    z-index: -1;
    transition: 0.5s;
}

.habilidades-box>.habilidades-content:hover::before {
    width: 100%;
}

.habilidades-content > .progress {
    padding: 0.5rem 0;
}

.habilidades-content> .progress > h3{
    display: flex;
    justify-content: space-between;
}

.habilidades-content > .progress > h3 > span {
    color: var(--cor-do-texto);
}

.habilidades-content > .progress > .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--cor1);
    padding: 0.5rem;
    margin: 1rem 0;
}

.habilidades-content > .progress > .bar > span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background-color: var(--cor1);
}

.habilidades-column:nth-child(1) .habilidades-content > .progress:nth-child(1) > .bar  span {
    width: 90%;
}

.habilidades-column:nth-child(1) .habilidades-content>.progress:nth-child(2)>.bar span {
    width: 80%;
}

.habilidades-column:nth-child(1) .habilidades-content>.progress:nth-child(3)>.bar span {
    width: 65%;
}

.habilidades-column:nth-child(1) .habilidades-content>.progress:nth-child(4)>.bar span {
    width: 10%;
}

.habilidades-column:nth-child(2) .habilidades-content>.progress:nth-child(1)>.bar span {
    width: 90%;
}

.habilidades-column:nth-child(2) .habilidades-content>.progress:nth-child(2)>.bar span {
    width: 80%;
}

.habilidades-column:nth-child(2) .habilidades-content>.progress:nth-child(3)>.bar span {
    width: 65%;
}

.habilidades-column:nth-child(2) .habilidades-content>.progress:nth-child(4)>.bar span {
    width: 10%;
}

.habilidades.mostrar-animacao .animado.scroll {
    transition-delay: calc(0.3s * var--i);
    width: 0;
}

.contato-container {
    background-image: linear-gradient(to bottom, var(--cor-de-fundo), var(--cor2));
    display: flex;
    justify-content: center;
}

.contato {
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
    text-align: center;
}
/* arrumar os containers */
.cont-contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 8rem;
    gap: 1rem;
    margin: 0 15%;
    flex-wrap: wrap;
    text-align: center;
}

.cont-contato > .elemento-contato {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}

.elemento-contato .link {
    width: 9rem;
    height: 9rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 6rem;
    position: relative;
    overflow: hidden;
    color: var(--cor-do-texto);
}

.elemento-contato .link:hover i {
    color: white;
    transform: scale(1.2);
    /*estudar */
    transition: all .3s;
}

.link::before {
    background-color: var(--cor1);
}

.link::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    left: -100px;
    top: 100%;
}

.elemento-contato .link:hover::before {
    animation: desloca .6s;
    left: 0;
    top: 0;
}

.cont-contato .el-3 .texto-elemento {
    margin-top: 40px;
}
.cont-contato .el-4 .texto-elemento {
    margin-top: 43px;
    text-wrap: wrap;
}

.good-vibes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: px solid red;
    margin-top: 8.5rem;
}

.good-vibes q {
    margin-top: -2rem;
    font-size: 1.4rem;
}

.good-vibes p {
    opacity: 60%;
}

@keyframes desloca {
    0% {
        left: -100px;
        top: 100%
    }

    50% {
        left: 15%;
        top: -25%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.elemento-contato>.texto-elemento{
    margin-top: 3.5rem;
}

.cont-contato>.elemento-contato >.texto-elemento h3 {
    font-size: 1.5rem;
    margin-top: -20%;
}

.cont-contato>.elemento-contato >.texto-elemento p {
    font-size: 1.2rem;
    opacity: 60%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--cor-de-fundo);
}

.footer-text {
    font-size: 1.5rem;
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}




