@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

header {
    position: fixed;
    top: .5rem;
    right: .5%;
    height: 5rem;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    background: rgba(238, 238, 238, 0.801);
    border-radius: 10px;
}

.logo-apple {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

main {
    height: 100vh;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 8rem;
}

.apple-vision-pro-main {
    width: 50vw;  
}

section {
    height: 100vh;
}

.text-main {
    overflow: hidden;
}

h1 , span{
    font-weight: 600;
    font-size: 3rem;
    text-wrap: nowrap;
}

span {
    color: rgb(151, 67, 230);
}




