@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --cor-principal: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--fonte-principal);
    font-size: 97%;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #0B141B;
    position: absolute;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.075);
    width: 100%;
    border-radius: 4px;
}

html {
    font-size: 95%;
    overflow-x: hidden;
}

h1 {
    color: var(--cor-principal);
    font-size: 2rem;
    text-shadow: 0 0 10px rgb(0, 0, 0)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s;
    height: 70px;
    z-index: 2;
    background-color: transparent;
}

header ul {
    display: flex;
    gap: 10px;;
    list-style: none;
    width: 230px;
}

header ul li a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition:.5s ease;
    font-weight: 500;
    text-shadow: 0 0 10px rgb(0, 0, 0)
}

header ul li a:hover {
    background-color: rgba(255, 68, 0, 0.384);
}

header input {
    background-color: transparent;
    border: none;
    padding: 7px 00 7px 10px;
    border-radius: 20px;
    border-right: 35px solid transparent;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
}
header input::placeholder {
    color: rgba(255, 255, 255, 0.623);
    font-size: .8rem;
}
header input:focus {
    outline: 2px solid white;
}

.box-search{
    position: relative;
    cursor: pointer;
}
.bx-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: white;
    transition: .3s;
}
.bx-search:hover {
    font-size: 1.23rem;
    text-shadow: black;
}

header > a {
    font-weight: 700;
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    border-radius: 10px;
    transition: .5s ease;
    color: var(--cor-principal);
}
header > a:hover {
    background-color: rgb(133, 100, 250);
    color: white;
}

.principal {
    background-color: black;
    height: 300vh;
    display: flex;
    justify-content: center;
    /* padding: 3% 12%; */
}

.principal .slide {
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* border-radius: 30px; */
    background: url(imagens/389760.jpeg) center center no-repeat;
    background-size: cover;
}

.shadow-box-bottom {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.shadow-box-top {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
}


.section-2 {
    height: 100vh;
    background-color: black;
}