@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --cor-texto: white;
    --cor-background: #0B141B;
    --cor-pricipal: #03A678;
    --cor-pricipal-clara: #33d1a4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--fonte-principal);
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #0B141B;
}
::-webkit-scrollbar-thumb {
    background-color: #03a67870;
    width: 100%;
    border-radius: 4px;
}

html {
    font-size: 95%;
    overflow-x: hidden;
}

h1 {
    color: var(--cor-texto);
    font-size: 2rem;
    text-shadow: 0 0 10px rgb(0, 0, 0)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s;
    height: 70px;
    z-index: 2;
    background-color: transparent;
}

header ul {
    display: flex;
    gap: 10px;;
    list-style: none;
    width: 230px;
}

header ul li a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition:.5s ease;
    font-weight: 500;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

header ul li a:hover {
    color: var(--cor-pricipal-clara);
}

header input {
    background-color: transparent;
    border: none;
    padding: 7px 00 7px 10px;
    border-radius: 20px;
    border-right: 35px solid transparent;
    cursor: pointer;
}
header input::placeholder {
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-style: italic;
}
header input:focus {
    outline: 2px solid var(--cor-pricipal);
}

header input:focus::placeholder{
    color: #ffffffad;
}

.box-search{
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 21px;
}
.bx-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: white;
    transition: .3s;
}
.bx-search:hover {
    color: var(--cor-pricipal-clara);
}

header > a {
    font-weight: 700;
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    border-radius: 10px;
    transition: .5s ease;
    color: var(--cor-texto);
}
header > a:hover {
    background-color: var(--cor-pricipal);
    color: white;
}

.principal {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* padding: 3% 12%; */
}

.principal .slide {
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* border-radius: 30px; */
    background: url(imagens/scale.webp) center center no-repeat;
    background-size: cover;
}

.shadow-box-bottom {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.shadow-box-top {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
}

/* Carrossel */

.carrossel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carrossel .lista .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carrossel .lista .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrossel .lista .item .conteudo {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.carrossel .lista .item .conteudo .autor{
    font-weight: bold;
    letter-spacing: 10px;
}

.carrossel .lista .item .conteudo .titulo,
.carrossel .lista .item .conteudo .topico {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}

.carrossel .lista .item .conteudo .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carrossel .lista .item .conteudo button {
    border: none;
    background-color: white;
    font-weight: 500;
    color: black;
}

.carrossel .lista .item .conteudo button:nth-child(2) {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.774);
}

.thumbnail .item .conteudo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .conteudo .titulo {
    font-weight: bold;
}

.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    font-weight: bolder;
    font-size: large;
    transition: .5s;
}
.arrows button:hover {
    background-color: #eee;
    color: #555;
}

.carrossel .lista .item:nth-child(1) {
    z-index: 1;
}

.carrossel .lista .item:nth-child(1) .autor,
.carrossel .lista .item:nth-child(1) .titulo,
.carrossel .lista .item:nth-child(1) .topico,
.carrossel .lista .item:nth-child(1) .descricao,
.carrossel .lista .item:nth-child(1) .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: mostrarConteudo .5s 1s linear 1 forwards;
}
@keyframes mostrarConteudo {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carrossel .lista .item:nth-child(1) .titulo {
    animation-delay: 1.2s;
}

.carrossel .lista .item:nth-child(1) .topico {
    animation-delay: 1.4s;
}

.carrossel .lista .item:nth-child(1) .descricao {
    animation-delay: 1.6s;
}

.carrossel .lista .irem:nth-child(1) .buttons {
    animation-delay: 1.8s;
}


.section-2 {
    height: 100vh;
    background-color: var(--cor-background);
}